fastapi
uvicorn[standard]
python-multipart
python-dotenv
groq
google-generativeai
httpx
firebase-admin
web3
PyMuPDF
python-docx
Pillow
chromadb
pydantic
pydantic-settings
sse-starlette
jinja2
langdetect
langchain-text-splitters
openai
